rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Exit-tickets:
    //  - Anyone can read exit tickets
    //  - Anyone with a valid request may create an exit ticket
    match /exit-tickets/{messageId} {
      allow read;
      allow create: if request.auth != null
                    && request.resource.data.name == request.auth.token.name;
      allow update, delete: if false;
    }
    // Check-ins:
    //  - Anyone can read check-in
    //  - Anyone with a valid request may create a check-in
    match /check-ins/{messageId} {
      allow read;
      allow create: if request.auth != null
                    && request.resource.data.name == request.auth.token.name;
      allow update, delete: if false;
    }
    // Users:
    //  - Anyone can be added as new user
    //  - Users can only update themselves
    //  - TODO: phase out FCM Tokens and incorporate with User
    match /users/{uid} {
      allow read;
      allow create: if request.auth != null
                    && request.resource.data.name == request.auth.token.name;
      allow update: if request.auth != null
                    && request.resource.data.name == request.auth.token.name;
      allow delete: if false;
    }
    // FCM Tokens:
    //   - Anyone can write their token.
    //   - Reading list of tokens is not allowed.
    match /fcmTokens/{token} {
      allow read: if false;
      allow write;
    }
  }
}